Repository gemarkode/Codebase, pull requests merged in 2022-10, with the labels that each got.

#29 add bootstrap css
  _config.yml
  _layouts/default.html
  assets/css/bootstrap-grid.css
  assets/css/bootstrap-grid.css.map
  assets/css/bootstrap-grid.min.css
  assets/css/bootstrap-grid.min.css.map
  assets/css/bootstrap-grid.rtl.css
  assets/css/bootstrap-grid.rtl.css.map
  assets/css/bootstrap-grid.rtl.min.css
  assets/css/bootstrap-grid.rtl.min.css.map
  assets/css/bootstrap-reboot.css
  assets/css/bootstrap-reboot.css.map
  assets/css/bootstrap-reboot.min.css
  assets/css/bootstrap-reboot.min.css.map
  assets/css/bootstrap-reboot.rtl.css
  assets/css/bootstrap-reboot.rtl.css.map
  assets/css/bootstrap-reboot.rtl.min.css
  assets/css/bootstrap-reboot.rtl.min.css.map
  assets/css/bootstrap-utilities.css
  assets/css/bootstrap-utilities.css.map
  assets/css/bootstrap-utilities.min.css
  assets/css/bootstrap-utilities.min.css.map
  assets/css/bootstrap-utilities.rtl.css
  assets/css/bootstrap-utilities.rtl.css.map
  assets/css/bootstrap-utilities.rtl.min.css
  assets/css/bootstrap-utilities.rtl.min.css.map
  assets/css/bootstrap.css
  assets/css/bootstrap.css.map
  assets/css/bootstrap.min.css
  assets/css/bootstrap.min.css.map
  assets/css/bootstrap.rtl.css
  assets/css/bootstrap.rtl.css.map
  assets/css/bootstrap.rtl.min.css
  assets/css/bootstrap.rtl.min.css.map
  assets/js/bootstrap.bundle.js
  assets/js/bootstrap.bundle.js.map
  assets/js/bootstrap.bundle.min.js
  assets/js/bootstrap.bundle.min.js.map
  assets/js/bootstrap.esm.js
  assets/js/bootstrap.esm.js.map
  assets/js/bootstrap.esm.min.js
  assets/js/bootstrap.esm.min.js.map
  assets/js/bootstrap.js
  assets/js/bootstrap.js.map
  assets/js/bootstrap.min.js
  assets/js/bootstrap.min.js.map
  index.html
Labels: hacktoberfest, hacktoberfest2022, hacktoberfest-accepted

#31 akash.py
  code/Python/akash.py
Labels: hacktoberfest, hacktoberfest2022, hacktoberfest-accepted

#36 Fizzbuzz example with javascript
  code/Javascript/FizzBuzz.js
Labels: hacktoberfest, hacktoberfest2022, hacktoberfest-accepted, Javascript

#32 add calculator and ignore .idea map
  .gitignore
  code/HTML/calculator.html
Labels: hacktoberfest, hacktoberfest2022, hacktoberfest-accepted, HTML, CSS

#41 add number is in a range javascript code snippet
  code/Javascript/isInRange.js
Labels: hacktoberfest, hacktoberfest2022, Javascript

#43 Palindrom checker example with JavaScript
  code/Javascript/PalindromChecker.js
Labels: hacktoberfest, hacktoberfest2022, Under Review, Javascript

#44 Palindrom checker example with Python
  code/Python/PalindromChecker.py
Labels: hacktoberfest, hacktoberfest2022, hacktoberfest-accepted, Python
